DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Use `config.settings.development` locally and `config.settings.railway` on Railway.
DJANGO_SETTINGS_MODULE=config.settings.development

SQLITE_PATH=

DB_NAME=conformados
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=
DB_SSL_REQUIRE=1
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=0
DJANGO_SECURE_HSTS_PRELOAD=0
INITIAL_ADMIN_USERNAME=ivelazquez
INITIAL_ADMIN_PASSWORD=12345678**
INITIAL_ADMIN_EMAIL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_ENDPOINT_URL=
RAILWAY_PUBLIC_DOMAIN=
DJANGO_CSRF_TRUSTED_ORIGINS=
